html, body{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.header{
  height: 80px;
  background: #f00;
}
.fancy-menu-wrapper{
  position: absolute;
  top:0;
  width: 100%;
  height: 100vh;
  overflow: hidden;
}
.btn-fancy-menu{
  position: absolute;
  top: 5px;
  right: 5px;
  width: 50px;
  height: 50px;
  background: #f0f;
}




.fancy-menu{
width: 100vw;
height: 100vh;
position: relative;

}
/* .bg-fancy{
  width: 100%;
 height: 33.33%;
  
} */
.bg-fancy-top{
  background: #000;
  position: absolute;
  top:0;
  width: 100vmax;
  height: 33vmax;
  transform-origin: 0 0;
  transform: rotate(-45deg) translate(-50%);
  z-index: 111;
 
}
.bg-fancy-middle{
  background: #f00;
  position: absolute;
  top:0;
  /* left:50vw; */
  width: 100vmax;
  height: 50vmax;
  
  transform: rotate(-45deg) translate(-40%, 50%) scale(2)
 

}
.bg-fancy-bottom{
  background: #ff0;
  position: absolute;
  bottom: 0;
  right: 0;
  width: 100vmax;
  height: 33vmax;
  transform-origin: 100% 100%;
  transform: rotate(-45deg) translate(50%);
  z-index: 111;

}